@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


/*--- Nav Bar --- */

.navbar {
    border-radius: 0 0 30px 30px;
    background-color: #e6ebe0;
}

.navbar-expand-lg {
    padding-left: 20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    text-align: right;
    place-content: flex-end;
}

.nav-item {
    padding-right: 50px;
    font-size: xx-large;
    
}

.navbar-toggler {
    margin-right: 30px;
}

.navbar-brand {
    font-size: 60px;
    padding-left: 40px;
    padding-bottom: -20px;
    margin-bottom: -29px;
    color: #1f5673;
    margin-top: -15px;
}

.navbar-light .navbar-brand {
    color: #1f5673;
}

.navbar-light .navbar-brand:hover {
    color: #36c9c6;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f5673;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #36c9c6;
}

.row {
    --bs-gutter-x: 0;
}

#nav-staycation-britain {
    font-size: 24px;
}

.navbar-fade {
    background-color: #e6ebe0ab;
    border: 0px;
    transition: background-color .5s ease 0s;
}

@media (max-width: 767px) {
    #suitcase {
        height: 60px;
    }

    .nav-item {
        font-size: large;
    }
}

/*--- Hero image --- */

#hero {
    background-image: url(/assets/images/shellfish-beach-wide-crop.jpg);
    background-attachment: fixed;
    max-width: none;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-top: -20px;
    background-position: bottom;
}

.display-4 {
    padding-left: 200px;
    font-size: 70px;
    font-family: "Dancing Script";
    font-weight: 1000;
    letter-spacing: 8px;
    margin-top: -500px;
}


@media (max-width: 767px) {
    .display-4 {
        padding-left: 20px;
        font-size: 48px;
        margin-top: -550px;
    }

    .navbar-brand {
        padding-left: 0;
        font-size: 40px;
    }

    #nav-staycation-britain {
        font-size: 18px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }
}

/*--- Body --*/

body {
    font-family: "Source Serif pro", "Dancing Script", Arial, sans-serif;
    color: #463730;
}

/*--- Introduction section ---*/

.title-intro {
    text-decoration: underline;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    font-style: italic;
}

.intro {
    font-size: 24px;
    padding: 0 5% 5%;
}

.capital {
    font-size: 60px;
}

/* Tiled pictures */

.flex {
    display: flex;
    height: 800px;
}

.pic-tiles-1 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: 100px;
}

.pic-tiles-2 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
}

.pic-tiles-3 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: -100px;
}

/* Second intro */

.intro2{
    font-size: 24px;
    padding: 0% 5% 0%;
    text-align-last: center;
}

/* Locations section */

.card img {
    padding: 3% 20% 0;
}

.mb-4 {
    padding: 40px;
}

.read_more_button {
    cursor: pointer;

}

.card-title {
    text-align: center;
    font-size: 48px;
}

#map-brighton {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 5%;
}

#map-newquay {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 5%;
}

#map-cardigan {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 5%;
}

#map-skye {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 5%;
}

/* Contact section */

#contact {
    padding-top: 200px;
    padding-bottom: 50px;
}

.contact-desc {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
}

form {
    padding-left: 50px;
    padding-right: 50px;
}

.message-area {
    margin-bottom: 20px;
}

.bd-example {
    text-align: center;
}

.btn-outline-info {
    color: #1F5673;
    border-color: #1F5673;

}

.btn-outline-info:hover {
    color: #fff;
    background-color: #1F5673;

}

/* Farewell image */

.teddy {
    margin-top: 250px;
    margin-bottom: 250px;
}

.img-fluid {
    border-radius: 20px;
}

/* Footer */

.footer {
    background-color: #1F5673;
    padding: 40px;
    border-radius: 30px 30px 0 0;
}

.footer .row {
    flex-wrap: wrap-reverse;
}

.copyright {
    align-self: center;
}

#copyright-text {
    color: #e6ebe0;
    text-align: center;
    width: 200px;
}

#staycation-britain {
    color: #e6ebe0;
    font-family: "Dancing Script";
    font-size: 48px;
}

#social-links {
    color: #e6ebe0;
    text-align: center;
}

.social {
    align-self: center;
}

.social-links li a {
    width: 42px;
    height: 42px;
    padding: 8px 5px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #463730;
    transition: all 0.35s ease-in-out;
    margin: 5px 5px;
}

.social-links li a:hover {
    background: #36c9c6;
}

.list-inline-item {
    display: inline-flex;
}

@media (min-width: 1199px) {
    #hero {
        background-image: url(/assets/images/shellfish-beach-wide-2.jpg)
    }

    .flex {
        height: 650px;
    }
}

@media (max-width: 1199px) {
    .card img {
        padding: 3% 5% 0;
    }

    #hero {
        background-size: initial;
        background-position: inherit;
    }

    .flex {
        height: 420px;
    }

    .pic-tiles-1 {
        width: 130%;
        margin-left: 0;
    }

    .pic-tiles-2 {
        width: 130%;
        margin-left: -70px;
    }

    .pic-tiles-3 {
        width: 130%;
    }

    .contact-desc {
    font-size: 18px;    
    }

    #contact {
    padding-top: 100px;
    }

    .teddy {
    margin-top: 150px;
    margin-bottom: 150px;
    }
}

@media (max-width: 767px) {
    #hero {
        background-position-x: 907px;
        background-position-y: -125px;
        height: 460px;
    }

    .display-4 {
        margin-top: -350px;
    }

    .title-intro {
        font-size: 24px;
    }

    .intro {
        font-size: 14px;
        padding: 0 5% 15%;
    } 

    .pic-tiles-1 {
        border-radius: 30px;
        width: 220%;
        
    }

    .pic-tiles-2 {
        border-radius: 30px;
        width: 220%;
        margin-bottom: 160px;
        margin-left: -20px;
        
    }

    .pic-tiles-3 {
        border-radius: 30px;
        width: 220%;
        margin-top: 200px;
        margin-left: -200%;
        
    }

    .intro2 {
        font-size: 14px;
        padding: 0% 5%;
        margin-top: -20%;
    }

    .card-title {
        font-size: 28px;
    }

    .card-text {
        font-size: 14px
    }

    .footer .row {
        flex-direction: column;
    }

    #copyright-text {
        width: 100%
    }

    #staycation-britain {
        text-align: center;
    }

    .social {
        text-align: center;
    }
}