@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


/*--- Nav Bar --- */

.navbar {
    border-radius: 0 0 30px 30px;
    background-color: #e6ebe0;
}

.navbar-expand-lg {
    padding-left: 20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding-right: 50px;
    font-size: xx-large;
    
}

.navbar-toggler {
    margin-right: 30px;
}

#suitcase {
    width: auto;
    height: 80px;
}

@media (max-width: 767px) {
    #suitcase {
        height: 60px;
    }
}

/*--- Hero image --- */

#hero {
    background-image: url(/assets/images/shellfish-beach.jpg);
    max-width: none;
    background-size: cover;
    height: 900px;
    margin-top: -100px;
    background-attachment: local;
    background-position: bottom;
    background-attachment: fixed;
}

.display-4 {
    padding-left: 200px;
    font-size: 70px;
    font-family: "Dancing Script";
    color: #463730;
    font-weight: 1000;
    letter-spacing: 8px;
    margin-top: -600px;
}

@media (max-width: 1199px) {
    #hero {
        height: 1000px
    }
}

@media (max-width: 767px) {
    #hero {
        height: 700px;
        background-position: inherit;
    }

    .display-4 {
        padding-left: 20px;
        font-size: 48px;
        margin-top: -550px;
    }
}

/*--- Body --*/

body {
    font-family: "Source Serif pro", "Dancing Script", Arial, sans-serif;
}

/*--- Introduction section ---*/

.intro {
    font-size: 24px;
    padding: 15% 5% 20%;
    color: #463730;
}

.capital {
    font-size: 60px;
}

.flex {
    display: flex;
    height: 800px;
}

.pic-tiles-1 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: 100px;
    background-attachment: fixed;
}

.pic-tiles-2 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    background-attachment: fixed;
}

.pic-tiles-3 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: -100px;
    background-attachment: fixed;
}

.intro2{
    font-size: 24px;
    padding: 0% 5% 20%;
    color: #463730;
    text-align-last: center;
}

.mb-4 {
    padding: 40px;
}

.card-title {
    text-align: center;
    font-size: 48px;
}

#map-brighton {
    height: 250px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 5%;
}


@media (max-width: 1199px) {
    .flex {
        height: 500px;
    }

    .pic-tiles-1 {
        width: 130%;
        margin-left: 0;
    }

    .pic-tiles-2 {
        width: 130%;
        margin-left: -70px;
    }

    .pic-tiles-3 {
        width: 130%;
    }
    
    
}

@media (max-width: 767px) {
    .intro {
        font-size: 18px;
        padding: 15% 5% 15%;
    } 

    .pic-tiles-1 {
        border-radius: 30px;
        width: 225%;
        
    }

    .pic-tiles-2 {
        border-radius: 30px;
        width: 225%;
        margin-bottom: 160px;
        margin-left: 10px;
        
    }

    .pic-tiles-3 {
        border-radius: 30px;
        width: 225%;
        margin-top: 200px;
        margin-left: -250%;
        
    }

    .intro2 {
        font-size: 18px;
        padding: 0% 5%;
        margin-top: -20%;
    }
}

