@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


/*--- Nav Bar --- */

.navbar {
    border-radius: 0 0 30px 30px;
    background-color: #e6ebe0;
}

.navbar-nav {
    place-content: space-around;
    flex-direction: row;
}

.nav-item {
    font-size: 23px;
    padding-right: 30px;
    
}

.navbar-toggler {
    margin-right: 30px;
}

.navbar-brand {
    font-size: 40px;
    padding-left: 40px;
    padding-bottom: -20px;
    color: #1f5673;
}

.navbar-light .navbar-brand {
    color: #1f5673;
}

.navbar-light .navbar-brand:hover {
    color: #36c9c6;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f5673;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #36c9c6;
}

.active {
    color: #36c9c6;
}

.row {
    --bs-gutter-x: 0;
}

#nav-staycation-britain {
    font-size: 24px;
    font-family: "Dancing Script";
}

.navbar-fade {
    background-color: #e6ebe0f1;
    border: 0px;
    transition: background-color .5s ease 0s;
    opacity: 0;
}

.navbar-fade:hover {
    background-color: #e6ebe0f1;
    border: 0px;
    transition: background-color .5s ease 0s;
    opacity: 100%;

}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .navbar {
        border-radius: 0 0 10px 10px;
    }

    #suitcase {
        height: 60px;
    }

    .nav-item {
        font-size: 18px;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 20px;
        font-size: 25px;
    }

    #nav-staycation-britain {
        font-size: 18px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }
}

/*--- Floating back to top button ---*/

a {
    text-decoration: none;
}


#buttonFloat {
    background-color: #1f5673;
    color: #e6ebe0;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, color .3s,  opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

/*-- Using unicode from FontAwesome to apply content (f151)*/ 

#buttonFloat::after {
    content: "\f151";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
}

#buttonFloat:hover {
    cursor: pointer;
    background-color: #e6ebe0;
    color: #1F5673;
}

#buttonFloat:active {
    background-color: #1F5673;
}

#buttonFloat.show {
    opacity: 1;
    visibility: visible;
}

/*--- Hero image --- */

#hero {
    background-image: url(/assets/images/shellfish-beach-wide-crop.jpg);
    background-attachment: fixed;
    max-width: none;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-top: -20px;
    background-position: bottom;
}

.display-4 {
    padding-left: 200px;
    font-size: 70px;
    font-family: "Dancing Script";
    font-weight: 1000;
    letter-spacing: 8px;
    margin-top: -500px;
}


@media (max-width: 767px) {
    .display-4 {
        padding-left: 20px;
        font-size: 48px;
        margin-top: -550px;
    }
}

/*--- Body --*/

body {
    font-family: "Source Serif pro", "Dancing Script", Arial, sans-serif;
    color: #463730;
}

/*--- Introduction section ---*/

.title-intro {
    text-decoration: underline;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    font-style: italic;
    font-family: "Dancing Script";
}

.intro {
    font-size: 24px;
    padding: 0 5% 5%;
    text-align: center;
}

.capital {
    font-size: 60px;
    line-height: 50px;
}

/* Tiled pictures */

.flex {
    display: flex;
    height: 800px;
}

.pic-tiles-1 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: 100px;
}

.pic-tiles-2 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
}

.pic-tiles-3 {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    margin-left: -100px;
}

/* Second intro */

.intro2{
    font-size: 24px;
    padding: 0% 5% 0%;
    text-align-last: center;
}

/* Locations section */

.card {
    background-color: #e6ebe0;
}

.col-12 .card {
    background-color: #bcc7af;
}

#brighton-card-body {
    background-image: url(/assets/images/brighton-pier.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

#newquay-card-body {
    background-image: url(/assets/images/newquay.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

#cardigan-card-body {
    background-image: url(/assets/images/cardigan-bay.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

#skye-card-body {
    background-image: url(/assets/images/scotland-skye-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5%;
}

.card-body {
    background-color:#bcc7afe3;
    text-align: center;
}

.mb-4 {
    padding: 40px;
}

.read_more_button {
    cursor: pointer;
}

.card-title {
    text-align: center;
    font-size: 48px;
    font-family: "Dancing Script";
}

.card-head {
    text-align: center;
    font-family: 'Dancing Script';
    font-weight: bold;
}

.card-text {
    padding: 0 10%;
}

img, svg {
    height: 50%;
}

/* Map styling */

#map-brighton {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 2%;
}

#map-newquay {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 2%;
}

#map-cardigan {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 2%;
}

#map-skye {
    height: 350px;
    width: 100%;
    background-color: black;
    overflow: inherit;
    border: #fff;
    margin-bottom: 2%;
}

/* Map buttons */

.buttons-row {
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    width: 120px;
    border: 1px solid;
}

.btn-info {
    background-color: #9bc1bc;
}

.btn-info.active {
    background-color: #9bc1bc;
}

.btn-check:focus+.btn-info,.btn-info:focus {
    background-color: #9bc1bc;
}

/* Interests section */

.int-head {
    text-align: center;
    font-family: 'Dancing Script';
}

.flex-column {
    align-items: center;
}

.int-cards {
    padding: 0 15px 15px 15px;
}



#brighton-activities-int {
    display: none;
}

#brighton-restaurants-int {
    display: none;
}

#brighton-hotels-int {
    display: none;
}

#newquay-activities-int {
    display: none;
}

#newquay-restaurants-int {
    display: none;
}

#newquay-hotels-int {
    display: none;
}

#cardigan-activities-int {
    display: none;
}

#cardigan-restaurants-int {
    display: none;
}

#cardigan-hotels-int {
    display: none;
}

#skye-activities-int {
    display: none;
}

#skye-restaurants-int {
    display: none;
}

#skye-hotels-int {
    display: none;
}


/* Contact section */

#contact {
    padding-top: 10px;
    font-family: "Dancing Script";
}

.contact-desc {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
}

form {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 10%;
}

.message-area {
    margin-bottom: 20px;
    height: 200px;
    resize: none;
}

.bd-example {
    text-align: center;
}

.btn-outline-info {
    color: #fff;
    border-color: #fff;
    background-color: #1F5673;
    margin-bottom: 2%;
    border-width: 3px;
    border-style: outset;

}

.btn-outline-info:hover {
    color: #1F5673;
    background-color: #fff;

}

#background-teddy {
    background-image: url(/assets/images/luggage-teddy.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

/* Footer */

.footer {
    background-color: #1F5673;
    padding: 40px;
    border-radius: 30px 30px 0 0;
}

.footer .row {
    flex-wrap: wrap-reverse;
}

.copyright {
    align-self: center;
}

#copyright-text {
    color: #e6ebe0;
    text-align: center;
    width: 200px;
}

#staycation-britain {
    color: #e6ebe0;
    font-family: "Dancing Script";
    font-size: 48px;
}

#social-links {
    color: #e6ebe0;
    text-align: center;
}

.social {
    align-self: center;
}

.social-links li a {
    width: 42px;
    height: 42px;
    padding: 8px 5px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #463730;
    transition: all 0.35s ease-in-out;
    margin: 5px 5px;
}

.social-links li a:hover {
    background: #36c9c6;
}

.list-inline-item {
    display: inline-flex;
}

@media (min-width: 1199px) {
    #hero {
        background-image: url(/assets/images/shellfish-beach-wide-2.jpg)
    }

    .flex {
        height: 650px;
    }
}

@media (max-width: 1199px) {
    .card-img-top {
        padding: 3% 5% 0;
    }

    #hero {
        background-size: initial;
        background-position: inherit;
    }

    .flex {
        height: 420px;
    }

    .pic-tiles-1 {
        width: 130%;
        margin-left: 0;
    }

    .pic-tiles-2 {
        width: 130%;
        margin-left: -70px;
    }

    .pic-tiles-3 {
        width: 130%;
    }

    .card-text-int {
        font-size: 0.75rem;;
    }

    .contact-desc {
    font-size: 18px;    
    }

    .intro {
        font-size: 18px;
    }

    .intro2 {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    img, svg {
        height: 30%;
    }
    
}

@media (max-width: 767px) {
    #hero {
        background-position-x: 907px;
        background-position-y: -125px;
        height: 460px;
    }

    .display-4 {
        margin-top: -350px;
    }

    .title-intro {
        font-size: 24px;
    }

    .intro {
        font-size: 14px;
        padding: 5%;
    } 

    .pic-tiles-1 {
        border-radius: 30px;
        width: 220%;
        
    }

    .pic-tiles-2 {
        border-radius: 30px;
        width: 220%;
        margin-bottom: 160px;
        margin-left: -20px;
        
    }

    .pic-tiles-3 {
        border-radius: 30px;
        width: 220%;
        margin-top: 200px;
        margin-left: -200%;
    }

    .intro2 {
        font-size: 14px;
    }

    .mb-4 {
        padding: 20px;
    }

    #brighton-card-body {
        background-position: bottom;
    }

    .card-body {
        margin: 5%;
        padding: 1rem 0;
    }

    .read_more_button {
        font-size: .75rem;
    }

    img, svg {
        height: 180px;
    }

    .card-title {
        font-size: 28px;
    }

    .card-text {
        font-size: 12px
    }

    .buttons-row .col {
        padding: 7px;
    }

    .footer .row {
        flex-direction: column;
    }

    #copyright-text {
        width: 100%
    }

    #staycation-britain {
        text-align: center;
    }

    .social {
        text-align: center;
    }
}